#header{
    padding:12px;
    width:925px;
    margin:0 auto;
    text-align:center;
    color:#d3d3d3;
}

.background {
    background-image: url(../img/paisly.jpeg);
    background-repeat: no-repeat;
    padding:20px;
}
p {
    font-family: arial;
}
#quote {
    font-family:tahoma;
}
#table {
    text-align:center;
}

#quote {
    padding:100px 20px
}

#sideBar{
    float:right;
    width: 240px;
    color: #d3d3d3;
}

#calendar{
    margin: 0 auto;
    padding-top:30px;
    padding-left:250px;
}
a:link{
    COLOR: #00FF00;
}
a:visited {
    COLOR: #F08080;
}
a:hover {
    COLOR: #d3d3d3;
}
a:active {
    COLOR: #00FF00;
}

