#background {
    background: url(body-back.jpg) repeat left 100%;
}
#menu {
    width: 100%;
    height: 0px;
    margin: 0px auto;
    margin-left: 2.65cm;
}
#pages {
    width: 83.55%;
    height:100%;
    background-color: #BF9663;
    margin-left: 2.65cm;
    float:left;
}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu li {
    display: inline;
    text-transform: uppercase;
}
#menu a {
    display: block;
    float: left;
    padding: 0px 30px 0px 3px;
    text-decoration: none;
    background-color: #0077B2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #FFFFFF;
}
#menu a: hover {
    height: 20px;
    background-color: #00AAFF;
    color: #000000;
}
#top {
    width: 100%;
    height: 20px;

    margin: 0px auto;
    margin-left: 2.65cm;
    margin-bottom: 1cm;
}
#top ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#top li {
    display: inline;
    text-transform: uppercase;
}
#top a {
    display: block;
    float: left;
    padding: 0px 30px 0px 3px;
    text-decoration: none;
    background-color: #0077B2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #FFFFFF;
}
#top a: hover {
    height: 20px;
    background-color: #00AAFF;
    color: #000000;
}
h2{
    color:#0077B2;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color:#0077B2;
}
